.Header-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .oupas{
    color: red;
    font-size: 80px;
    color:silver;
    text-shadow:
    3px 1px 1px #300000,
    1px 6px 1px #400000,
    1px 8px 1px #500000,
    1px 10px 1px #600000,
    1px 12px 1px #700000,
    1px 14px 1px #800000,
    1px 16px 1px #900000,
    1px 18px 1px #A00000,
    1px 20px 1px #B00000,
    1px 22px 1px #C00000,
    1px 24px 1px #D00000,
    1px 26px 1px #E00000,
    1px 28px 1px #F00000,
    1px 30px 1px #FA0000,
    1px 32px 1px #FB0000,
    1px 34px 1px #FC0000,
    1px 36px 1px #FD0000,
    1px 38px 1px #FE0000,
    1px 40px 2px #FF0000;
}

  .home{
    font-size: 25px;
  }

  .link {
    color: #fff;
    fill: currentColor;
    text-decoration: none;
    margin-right: 10px;
    font-size: calc(10px + 2vmin);
    font-weight: bold;
  }
  .link:hover {
    color: rgb(164, 0, 0);
  }
  .selected {
    color: rgb(164, 0, 0);
    text-decoration: none;
    font-size: calc(10px + 2vmin);
  }